body {
    background-color: lightpink;
}


.heading {
    color:firebrick;
}


.card-body {
    background-color: lightpink;
    border-color: firebrick;

}

.close {
    position: absolute;
    bottom: 100px;
    left: 1090px;
}


.close2 {
    bottom: 230px;
    left: 1105px;
}

.checkbox {
    bottom: 100px;
    right:1100px;
}

.add-card {
    background-color: firebrick;
}


.add-form {
    background-color: lightpink;
}

div.delete {
    float:right;

}

/*.place-for-delete {*/
    /*float:right;*/
/*}*/