
	<div >
		<form class="border border-danger add-form p-3">
			<div class="form-group">
				<button type="button" class="close close2" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p class="card-title text-center text-danger h5"> Enter card title</p>
				<input class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Card title...">
			</div>
			<div class="form-group">
				<p class="card-title text-center text-danger h5"> Enter card description</p>
				<input  class="form-control" name="description" id="Descriptiom" placeholder="Description...">
			</div>
			<button type="submit" id="submit" class="btn btn-outline-danger">Submit</button>
		</form>
	</div>
