<div class="card w-100" >
	<div class="border border-danger">
		<div class="card-body">
			<button type="button" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="input-text mt-0 checkbox">
				<input type="checkbox" aria-label="Checkbox for following text input">
			</div>
			<h5 class="card-title text-center text-danger">{{title}}</h5>
			<p class="card-text text-center text-danger">{{description}}</p>

		</div>
	</div>
</div>