<div class="list-group ">
	{{#each deals}}
	<button type="button" class="btn btn-outline-danger btn-lg btn-block get-card" data-key="{{@key}}">
		{{title}}
		<div data-key="{{@key}}" class="delete">&times;</div>
	</button>
	{{/each}}
</div>